
header{
    text-align: center;
    background-color:  #f55905 ;
    width: 100%;
    height: 100px;
    color: cornsilk;
}
header h1{
    text-align: center;
    padding-top: 30px;
}
.navbar{
    background-color: cornsilk;
    height: 70px;
    margin-bottom: 0;
}
.navbar button span{
    color: #f55905 !important;
}
.navbar-toggler, .navbar-toggler-icon{
    color: #f55905 !important;
}
.nav li{
    margin-right: 70px;
}
.nav li a{
    color: #f55905 !important;
    padding: 15px;
    font-size: 1.5em;
}
.nav li a:hover{
    background-color:  #f55905;
    color:  #fff !important;
}
.nav-link:visited{
    font-weight: bolder !important; 
}
.background{
    background: no-repeat url(https://assets.epicurious.com/photos/5fa986c759365f22c403a32d/9:4/w_1004,h_446,c_limit/JudyKimPearTart_HER0_102920_4326.jpg);
    background-size: 100%;
    height: 500px;
    margin-top: -24px;
    margin-left: 2px;
    position: relative;
}
.background::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
}
.def{
    padding: 40px;
    border: 2px solid #f55905;
    background-color: cornsilk;
    opacity: 0.8;
    height: 400px;
}
.def h6{
    line-height: 40px;
    font-size: 1.125rem;
    color: #000;
    font-weight: bolder;
}
.def h6 span{
    font-weight: bolder;
    color: #f55905;
    font-size: larger; 
    line-height: 60px;
    position: relative;
    z-index: 1;
}
.slide{
    height: auto;
}
.imges{
    height: 100%;
}
.container{
    justify-content: center;
}
.Quote{
    background-color: #f55905;
    margin-left: 2px;
}
.quote h4{
    color: cornsilk;
}
.quote p{
    text-transform: uppercase;
    color: #f55905;
    background-color: cornsilk;
    font-size: large;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 50px;
}
.Contact{
    margin-top: 50px;
    background-color: cornsilk;
    margin-bottom: 50px;
    margin-left: 2px;
}
.title{
    width: 300px;
    margin: auto;
    color: #f55905;
    font-size: x-large;
    padding: 10px;
    font-weight: bold;
}
.icons2{
    margin: 50px;
}
.icons1{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 30%;
}
.icons1 i, .icons2 a i{
    color: #f55905;
    font-size: 1.5em;
    margin-right: 20px;
}
.icons2 i:hover{
    cursor: pointer;
    transform: scale(1.5);
}
.icons1 p{
    display: inline;
    color: #f55905;
}
hr{
    color: #f55905;
    transform: rotate(90deg);
    margin-top: 110px;
    margin-left: -40%;
    width: 250px;
    opacity: 1 !important;
}
footer{
    background-color: #222;
    color: #a1a1a1;
    text-align: center;
    top: 20px;
    margin-bottom: 0%;
    font-size: small;
}


@media only screen and (min-width:768px) and (max-width:992px){
    .nav li{
        margin-right: 50px;
    }
    .background{
        background: none;
        height: auto;
    }
    .background::before{
        background: none;
    }
    .def{
        opacity: 1;
        height: auto;
    }
    .icons1 i, .icons2 a i{
        font-size: 1em;
        margin-right: 10px;
    }
}


@media only screen and (min-width:500px) and (max-width:767px){
    .nav li{
        margin-right: 32px;
    }
    .nav li a{
        font-size: medium;
    }
    .background{
        background: none;
        height: auto;
    }
    .background::before{
        background: none;
    }
    .def{
        opacity: 1;
        height: auto;
    }
    .def h6{
        line-height: 30px;
        font-size: small;
    }
    .def h6 span{
        font-size: medium; 
        line-height: 40px;
    }
    .quote h4{
        font-size: medium;
    }
    .quote p{
        font-size: medium;
    }
    .title span{
        font-size: large;
        margin: auto;
    }
    .icons1{
        margin-left: 40%;
    }
    .icons1 p{
        font-size: small;
    }
    .icons1 i, .icons2 a i{
        font-size: 0.8em;
        margin-right: 5px;
    }
    hr{
        color: #f55905;
        transform: rotate(0deg);
        margin-top: 10px;
        margin-left: 0%;
        width: auto;
    }

}



@media only screen and (min-width:0px) and (max-width:499px){
    .nav li{
        margin-right: 10px;
    }
    .nav li a{
        font-size: medium;
    }
    .background{
        background: none;
        height: auto;
    }
    .background::before{
        background: none;
    }
    .def{
        opacity: 1;
        height: auto;
    }
    .def h6{
        line-height: 30px;
        font-size: small;
    }
    .def h6 span{
        font-size: medium; 
        line-height: 40px;
    }
    .quote h4{
        font-size: medium;
    }
    .quote p{
        font-size: medium;
    }
    .title span{
        font-size: large;
        margin: auto;
    }
    .icons1{
        margin-left: 35%;
    }
    .icons1 p{
        font-size: small;
    }
    
    .icons1 i, .icons2 a i{
        font-size: 0.8em;
        margin-right: 5px;
    }
    hr{
        color: #f55905;
        transform: rotate(0deg);
        margin-top: 10px;
        margin-left: 0%;
        width: auto;
    }

}