
header{
    text-align: center;
    background-color:  #f55905 ;
    width: 100%;
    height: 100px;
    color: cornsilk;
}
header h1{
    text-align: center;
    padding-top: 30px;
}
.navbar{
    background-color: cornsilk;
    height: 70px;
    margin-bottom: 0;
}
.navbar button span{
    color: #f55905 !important;
}
.navbar-toggler, .navbar-toggler-icon{
    color: #f55905 !important;
}
.nav li{
    margin-right: 70px;
}
.nav li a{
    color: #f55905 !important;
    padding: 15px;
    font-size: 1.5em;
}
.nav li a:hover{
    background-color:  #f55905;
    color:  #fff !important;
}
.nav-link:visited{
    font-weight: bolder;
}
.intro h3{
    color: #f55905;
}
.intro p{
    color: #222;
    padding-top: 20px;
    font-size: 20px;
}
.hr1{
    color: #f55905;
    margin-bottom: 30px;
    opacity: 1 !important;
}
.recipes{
    justify-content: space-between !important; 
}
.img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.caption{
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-align: center !important;
    width: 100%;
    border: 3px solid #f55905;
}
.caption h4{
    font-size: 20px;
    text-align: center;
    color: #f55905;
    padding: 5px;
    height: 50px;
}
.caption:hover{
    border: 4px solid #f55905;
}
.captionP{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f55905;
    padding: 10px;
    color: white;
}
.caption:hover .captionP{
    display: block;
}

.orders fieldset{
    border: 2px solid #f55905;
    background-color: cornsilk;
    border-radius: 10px;
}
.orders legend{
    background-color: #f55905;
    border: 2px solid #f55905;
    width: 150px;
    height: 50px;
    margin-left: 42%;
    margin-top: -25px;
    margin-bottom: 30px;
    color: cornsilk;
    border-radius: 10px;
}
.orders label{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f55905;
    font-size: larger;
}
.orders select, input{
    border: 2px solid #f55905;
    height: 30px;
    border-radius: 10px;
}
.orders img{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.btn{
    margin-top: 30px;
    border: 2px solid #f55905;
    border-radius: 10px;
    color: cornsilk;
    width: 200px;
    height: 50px;
    background-color: #f55905;
    font-size: larger;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
    color: cornsilk !important;
    transform: scale(0.9);
}
.btn a{
    text-decoration: none;
    color: cornsilk;
}
.table, tr, th, td{
    border: 2px solid #f55905;
}
.table th{
    color: cornsilk;
    background-color: #f55905;
}
.spanPrice{
    color: #f55905;
    font-size: larger;
    font-weight: bold;
    line-height: 40px;
}
#sum{
    margin-left: 5%;
    text-align: center;
    color: #f55905;
    font-size: larger;
    font-weight: bold;
    line-height: 40px;
}
.info{
    border: 2px solid #f55905;
    background-color: cornsilk;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #f55905;
}
.info h5{
    margin-top: 30px;
}
.info label{
    margin-top: 30px;
}
.info button{
    margin-bottom: 30px;
}
.Contact{
    margin-top: 50px;
    background-color: cornsilk;
    margin-bottom: 50px;
    margin-left: 2px;
}
.title{
    width: 300px;
    margin: auto;
    color: #f55905;
    font-size: x-large;
    padding: 10px;
    font-weight: bold;
}
.icons2{
    margin: 50px;
}
.icons1{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 30%;
}
.icons1 i, .icons2 i{
    color: #f55905;
    font-size: 1.5em;
    margin-right: 20px;
}
.icons2 i:hover{
    cursor: pointer;
    transform: scale(1.5);
}
.icons1 p{
    display: inline;
    color: #f55905;
}
.hr2{
    color: #f55905;
    transform: rotate(90deg);
    margin-top: 110px;
    margin-left: -40%;
    width: 250px;
    opacity: 1 !important;
}
footer{
    background-color: #222;
    color: #a1a1a1;
    text-align: center;
    top: 20px;
    margin-bottom: 0%;
    font-size: small;
}


@media only screen and (min-width:993px) and (max-width:1350px){
    .orders label{
        display: block;
    }
}

@media only screen and (min-width:768px) and (max-width:992px){
    .nav li{
        margin-right: 40px;
    }
    .orders legend{
        margin-left: 35%;
    }
    .orders label{
        display: block;
    }
    .icons1 i, .icons2 a i{
        font-size: 1em;
        margin-right: 10px;
    }
    .hr2{
        transform: rotate(90deg);
    }
}


@media only screen and (min-width:500px) and (max-width:767px){
    .nav li{
        margin-right: 32px;
    }
    .nav li a{
        font-size: medium;
    }
    .orders legend{
        margin-left: 35%;
    }
    .orders label{
        display: block;
    }
    .orders select{
        width: 90%;
    }
    .title span{
        font-size: large;
        margin: auto;
    }
    .icons1{
        margin-left: 40%;
    }
    .icons1 p{
        font-size: small;
    }
    .icons1 i, .icons2 a i{
        font-size: 0.8em;
        margin-right: 5px;
    }
    .hr2{
        color: #f55905;
        transform: rotate(0deg);
        margin-top: 10px;
        margin-left: 0%;
        width: auto;
    }

}

@media only screen and (min-width:0px) and (max-width:499px){
    .nav li{
        margin-right: 10px;
    }
    .nav li a{
        font-size: medium;
    }
    .orders legend{
        margin-left: 30%;
    }
    .orders label{
        display: block;
    }
    .orders select{
        width: 75%;
    }
    .title span{
        font-size: large;
        margin: auto;
    }
    .icons1{
        margin-left: 35%;
    }
    .icons1 p{
        font-size: small;
    }
    
    .icons1 i, .icons2 a i{
        font-size: 0.8em;
        margin-right: 5px;
    }
    .hr2{
        color: #f55905;
        transform: rotate(0deg);
        margin-top: 10px;
        margin-left: 0%;
        width: auto;
    }

}